/*
    © 2021 KondaSoft
    https://www.kondasoft.com
*/

// Javascript enabled/disabled
.no-js .js { display: none }
.js .no-js { display: none }

// Cookies enabled/disabled
.no-cookies .cookies { display: none }
.cookies .no-cookies { display: none }

// Body
body {
    background-color: var(--color-body-bg);
    color: var(--color-body-text);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Main {
#main {
    flex: 1;
}

// Links
a { 
    color: var(--color-primary); 
}

a:hover { 
    color: var(--color-primary-darken-10); 
}

// Forms
.form-control:focus,
.form-select:focus {
    border-color: var(--color-primary-alpha-25);
    box-shadow: 0 0 0 0.25rem var(--color-primary-alpha-25);
}

// Backgrounds
.bg-primary     { background-color: var(--color-primary) !important; }
.bg-secondary   { background-color: var(--color-secondary) !important; }
.bg-dark        { background-color: var(--color-dark) !important; }
.bg-light       { background-color: var(--color-light) !important; }
.bg-gray        { background-color: #F4F4F4 !important; }


// Text
.text-primary   { color: var(--color-primary) !important; }
.text-secondary { color: var(--color-secondary) !important; }
.text-dark      { color: var(--color-dark) !important; }

// Borders
.border-primary   { border-color: var(--color-primary) !important; }
.border-secondary { border-color: var(--color-secondary) !important; }
.border-dark      { border-color: var(--color-dark) !important; }
.border-light     { border-color: var(--color-light-darken-10) !important; }

// Buttons - Link
.btn-link {
    color: var(--color-primary);
    &:hover,
    &:focus {
        color: var(--color-primary-darken-10);
    }
    &:focus {
        box-shadow: 0 0 0 0.25rem var(--color-primary-alpha-25);
    }
}

// Buttons
.btn-primary,
.btn-secondary {
    -webkit-clip-path: url(#clip-path-button);
    clip-path: url(#clip-path-button);
    transition: all 350ms cubic-bezier(0, 0, 0.2, 1);
    border-radius: unset;
}
.btn {
    font-family: 'Proxima Nova';
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.3px;
}

// Buttons - Primary
.btn-primary,
.btn-primary:disabled {
    background: #21EAF4;
    background: -moz-linear-gradient(left, #21EAF4 0%, #1499ED 50%, #21EAF4 100%);
    background: -webkit-linear-gradient(left, #21EAF4 0%, #1499ED 50%, #21EAF4 100%);
    background: linear-gradient(to right, #21EAF4 0%, #1499ED 50%, #21EAF4 100%);
    background-size: 200% auto;
    background-position: right;
    transition: all 350ms cubic-bezier(0, 0, 0.2, 1);
    color: var(--color-secondary);
}

.btn-outline-primary,
.btn-outline-primary:disabled  {
    color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-position: left;
    color: var(--color-secondary);
}

.btn-outline-primary:hover,
.btn-outline-primary:active {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.btn-primary:focus,
.btn-primary:active:focus,
.btn-outline-primary:focus,
.btn-outline-primary:active:focus {
    box-shadow: 0 0 0 0.25rem var(--color-primary-alpha-25);
}

// Buttons - Secondary
.btn-secondary,
.btn-secondary:disabled {
    background: #8984FF;
    background: -moz-linear-gradient(left, #8984FF 0%, #7430FF 50%, #8984FF 100%);
    background: -webkit-linear-gradient(left, #8984FF 0%, #7430FF 50%, #8984FF 100%);
    background: linear-gradient(to right, #8984FF 0%, #7430FF 50%, #8984FF 100%);
    background-size: 200% auto;
    background-position: left;
    transition: all 350ms cubic-bezier(0, 0, 0.2, 1);
    color: white;
}

.btn-outline-secondary,
.btn-outline-secondary:disabled {
    color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    background-position: right;
    color: white;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.btn-secondary:focus,
.btn-secondary:active:focus,
.btn-outline-secondary:focus,
.btn-outline-secondary:active:focus {
    box-shadow: 0 0 0 0.25rem var(--color-secondary-alpha-25);;
}

// Buttons - Dark
.btn-dark,
.btn-dark:disabled {
    background: var(--color-dark);
    border-color: var(--color-dark);
}

.btn-outline-dark,
.btn-outline-dark:disabled {
    color: var(--color-dark);
    border-color: var(--color-dark);
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
    background-color: var(--color-dark-darken-10);
    border-color: var(--color-dark-darken-10);
}

.btn-outline-dark:hover,
.btn-outline-dark:active {
    background-color: var(--color-dark);
    border-color: var(--color-dark);
}

.btn-dark:focus,
.btn-dark:active:focus,
.btn-outline-dark:focus,
.btn-outline-dark:active:focus {
    box-shadow: 0 0 0 0.25rem var(--color-dark-alpha-25);
}

// Buttons - Light
.btn-light,
.btn-light:disabled {
    background: var(--color-light);
    border-color: var(--color-light);
}

.btn-light:hover,
.btn-light:active,
.btn-light:focus {
    background-color: var(--color-light-darken-10);
    border-color: var(--color-light-darken-10);
}

.btn-light:focus,
.btn-light:active:focus {
    box-shadow: 0 0 0 0.25rem var(--color-dark-alpha-25);
}

// Alerts
.alert-primary,
.alert-primary,
.alert-primary {
    border-color: transparent;
    color: white;
    &.alert-primary {
        background: var(--color-primary); 
    }
    &.alert-secondary {
        background: var(--color-secondary); 
    }
    &.alert-dark {
        background: var(--color-dark); 
    }
}

// Img thumbnail
.img-thumbnail {
    border-color: var(--color-light-darken-10);
}

// Pagination
.page-link {
    color: var(--color-primary);
    &:hover,
    &:focus {
        color: var(--color-primary-darken-10);
    }
    &:focus {
        box-shadow: 0 0 0 0.25rem var(--color-primary-alpha-25);
    }
}

.page-item.active .page-link {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

// Dropdown
.dropdown-item.active, 
.dropdown-item:active {
    background-color: var(--color-primary);
}

// Accordion
.accordion {
    .accordion-button {
        font-size: 1.75rem;
        &:focus {
            border-color: var(--color-primary-alpha-25);
            box-shadow: 0 0 0 0.25rem var(--color-primary-alpha-25);
        }
        &:not(.collapsed) {
            background-color: var(--color-light);
            color: var(--color-primary);
        }
    }
    .accordion-body {
        p:last-child {
            margin-bottom: 0;
        }
    }
}

// Toast
.toast-wrapper {
    display: flex;
    &.bottom-left {
        margin-left: 15px;
    }
    &.bottom-center {
        justify-content: center;
    }
    &.bottom-right {
        justify-content: flex-end;
        margin-right: 15px;
    }
    .toast {
        z-index: 99999999999999999;
        position: fixed;
        min-width: 280px;
        bottom: 15px;
        margin-bottom: 0!important;
        background-color: rgba(white, .95);
        @include media-breakpoint-down(sm) {
            width: calc(100% - 30px);
            max-width: none;
        }
    }
}

// Opacity
@each $value in $opacities {
    .opacity-#{$value} { opacity: #{$value} + '%' }
}

// Object fit
.object-fit-contain     { object-fit: contain; }
.object-fit-cover       { object-fit: cover; }
.object-fit-fill        { object-fit: fill; }
.object-fit-scale-down  { object-fit: scale-down; }

// OCTO EDGE DECORATION
.octo-edge {
    z-index: 1;

    &.top-left {
        transform: scale(-1, -1);
        margin-top: -1px;
    }
    &.top-right {
        transform: scaleY(-1);
        margin-top: -1px;
    }
    &.bottom-left {
        bottom: -1px;
        transform: scaleX(-1);
    }
    &.bottom-right {
        bottom: -1px;
    }
}

.overlap-images {
    margin-bottom: 75px;
    
    @include media-breakpoint-down(sm) {
        order: -1 !important;
        min-height: auto;
        .about-img-sm {
            margin: 0 auto;
            display: block;
            float: unset;
            width: 100px;
            height: 100px;
        }
    }
    @include media-breakpoint-down(xxl) {
        max-height: 280px;
    }
}
.about-img-sm {
    position: relative;
    box-shadow: 1px 3px 20px -5px rgb(0 0 0 / 30%);
    width: 200px;
    height: 200px;

    @include media-breakpoint-up(xxl) {
        bottom: -50%;
        left: 20%;
    }
    @include media-breakpoint-down(xl) {
        bottom: 20%;
    }
    @include media-breakpoint-only(xl) {
        bottom: 35%;
        left: 6%;
    }
    @include media-breakpoint-only(lg) { 
        width: 150px;
        height: 150px;
    }
    @include media-breakpoint-down(lg) { 
        bottom: 0;
        float: right;
        width: 150px;
        height: 150px;
    }
}

.about-img-sm,
.about-img-lg {
    -webkit-clip-path: url(#clip-path-button);
    clip-path: url(#clip-path-button);
}

.about-img-lg {
    
}

.shopify-section .heading {
    @include media-breakpoint-down(sm) {
        font-size: 2.25rem; //36px
    }
}


// FOOTER SOCIAL MEDIA ICONS
.social-icons__item {
    display: inline-block;
    list-style: none;
    padding-right: 16px;
    .social-icons__link {
        background-color: #2A274C;
        border-radius: 50%;
        line-height: 56px;
        width: 50px;
        height: 50px;
        text-align: center;
        display: inline-block;
        opacity: 0.8;
        transition: all 150ms ease-in-out;
        &:hover {
            opacity: 1;
        }
        .fab {
            color: var(--color-primary);
            font-size: 22px;
        }
    }
}

.footer-blocks-grid {
    h3 {
        color: var(--color-primary);
        padding-bottom: 16px;
        font-family: 'burtons_nightmareregular';
    }

    .nav-link {
        padding-left: 0;
    }
}