@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@font-face {
    font-family: 'burtons_nightmareregular';
    src: url('nitemare-webfont.woff2') format('woff2'),
         url('nitemare-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('Proxima-Nova.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova';
    src: url('Proxima-Nova-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

.rte {
    p { line-height: 32px; }
}

.bg-light {
    h1, .h1, h2, .h2, h3, .h3,
    .heading,
    .collection-list-item-title {
        color: var(--color-secondary);
    }
    .rte {
        color: var(--color-body-text-light);
        h4 {
            color: var(--color-body-primary-light);
            letter-spacing: 6.4px;
        }
    }
    .price, a:not(.btn) {
        color: var(--color-body-primary-light);
    }
    .social-sharing a {
        color: var(--color-body-text-light);
    }
    .price {
        font-family: 'Proxima Nova';
        font-weight: 800;
        font-size: 1.8rem;
    }
}