.navbar {
    height: 80px;
    .bg-transparent {
        box-shadow: none !important;
    }
}

.navbar-brand {
    @include media-breakpoint-only(md) {
        width: 16%;
    }  
    @include media-breakpoint-down(md) {
        width: 20%;
    }  
}

.custom-logo {
    position: absolute;
    width: 113px;
    top: 0;
    height: auto;
    padding: 10px;
    clip-path: url(#clip-path-logo-base);
    background: black;
    @include media-breakpoint-only(md) {
        padding: 10px 24px 0;
    }
    @include media-breakpoint-down(md) {
        padding: 10px 32px 0;
    }  
}

.bg-transparent {
    color: white;
}

.navbar-dark .navbar-nav .nav-link {
    text-transform: uppercase;
    font: bold 0.75rem 'Proxima Nova'; //12px
    padding: 0 1.25rem;
    color: white;
    letter-spacing: 1.3px;
    &.active::after {
        content: url('underline.svg');
        display: block;
        margin: 0 auto;
        top: -3px;
        height: 0;
        width: 28px;
        position: relative;
    }
}