<section class="visually-hidden">
    <!-- Logo base -->
    <svg class="svg">
        <clipPath id="clip-path-logo-base" clipPathUnits="objectBoundingBox"><path d="M0,0 L1,0 L1,1 L0.988,0.992 L0.973,0.947 L0.966,0.985 L0.951,0.909 L0.938,1 L0.875,1 L0.717,0.985 L0.668,0.972 L0.653,0.992 L0.636,0.991 L0.627,0.956 L0.62,0.986 L0.553,1 L0.455,0.986 L0.428,0.989 L0.416,0.956 L0.394,0.991 L0.305,1 L0.094,0.991 L0.066,1 L0.044,0.986 L0.033,1 L0.012,0.874 L0,1 L0,0.264 L0.008,0.147 L0,0.057 L0,0"></path></clipPath>
    </svg>

    <!-- Button Clip -->
    <svg class="svg">
        <clipPath id="clip-path-button" clipPathUnits="objectBoundingBox"><path d="M0.021,0.069 L0.026,0.004 L0.026,0.297 L0.04,0.003 L0.177,0.02 C0.214,0.007,0.242,0,0.261,0 C0.324,0.001,0.392,0.015,0.464,0.014 C0.514,0.013,0.579,0.001,0.662,0 C0.674,0,0.686,0.009,0.698,0.027 L0.706,0.02 L0.714,0.05 L0.721,0.02 C0.735,0.017,0.747,0.014,0.757,0.014 C0.786,0.012,0.838,0.001,0.944,0.027 C0.944,0.027,0.947,0.057,0.953,0.117 L0.958,0.039 C0.966,0.33,0.971,0.475,0.973,0.475 C0.974,0.475,0.968,0.027,0.97,0.027 C0.971,0.027,0.972,0.027,0.973,0.027 L0.987,0.392 C0.991,0.515,0.995,0.604,1,0.659 C1,0.668,0.989,0.682,0.989,0.693 C0.989,0.698,0.989,0.794,0.989,0.8 C0.989,0.833,0.991,0.871,0.996,0.914 C0.989,0.94,0.98,0.953,0.97,0.955 C0.964,0.724,0.957,0.56,0.948,0.466 L0.961,0.955 L0.842,0.994 L0.834,0.955 L0.823,0.983 L0.521,1 L0.227,0.983 L0.213,1 L0.155,0.973 L0.147,0.935 L0.139,0.983 L0.121,0.983 L0.121,0.851 L0.107,0.955 L0.041,0.983 L0,1 C0.004,0.893,0.007,0.818,0.01,0.776 C0.013,0.739,0.02,0.619,0.015,0.475 C0.015,0.463,0.012,0.455,0.005,0.449 L0.01,0.297 L0.021,0.069"></path></clipPath>
    </svg>
</section>